#ecopoint__container {
  display: grid;
  grid-template-areas:
    'icon name'
    'icon view';
  max-width: 300px;
  height: 60px;
  color: #E0E0E0;
}

.ecopoint__icon {
  grid-area: icon;
  border-bottom-left-radius: .8rem;
  border-top-left-radius: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #27AE60;
}

.ecopoint__name {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: .8rem;
  width: 200px;

  background: #219653;
}

.ecopoint__view {
  grid-area: view;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: .8rem;
  width: 200px;


  background: #2F80ED;
}

.ecopoint__view .ecopoint__link {
  text-decoration: none;
  color: #E0E0E0;
}