<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eNaturalist</title>
    <link rel="stylesheet" type="text/css" href="/web/src/app/header/header.component.css">
</head>
<body>
    <header class="header">

        <div class="profile">
            <p class="avatar">
                <img src="/web/src/assets/img/Davi.jpg" alt="Avatar do usuário">            
            </p>
            <p class="profile_name">Davi Mendes</p>
        </div>

        
        <nav>                       
            <div class="logo">
                <a href="header.component.html"><img src="/web/src/assets/img/menu_logoName.svg" alt="Nome da empresa" width="660" height="100"></a>
            </div>
            <ul class="nav_list">
                <li class="iconTv"><a href="#">O que é e-lixo</a></li>
                <li class="iconLocation"><a href="#">Buscar Ecopontos</a></li>
                <li class="iconDonate"><a href="#">Doar Eletrônicos</a></li>
                <li class="iconGraph"><a href="#">Estatísticas</a></li>                
            </ul>        
        </nav>
        
    </header>
</body>
</html>
